<ion-header [translucent]="true" color="red-woodside">
  <ion-toolbar color="red-woodside">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="warning">Add Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <h2 class="ion-text-center title">Where do we take the order?</h2>
  </ion-header>

  <form class="marg-content" [formGroup]="addressForm" (ngSubmit)="registerAddress()"> 

    <ion-item>
      <ion-label position="floating">Street Address</ion-label>
      <ion-input required="true" type="text" formControlName="street" placeholder="House number and street name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="street_optional" placeholder="Appartment, suite, unit, etc. (optional)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">ZIP</ion-label>
      <ion-input required="true" type="text" formControlName="zip" (ionChange)="verifyZip()"></ion-input>
    </ion-item> 

    <!-- Si no se ingresa un ZIP válido -->
    <ng-container *ngIf="!isValidZip">
      <ion-toolbar color="warning" class="mt-10">
        <ion-icon name="barcode-outline" slot="start" size="large"></ion-icon>
        <ion-title>Enter a valid postal code</ion-title> 
      </ion-toolbar>
    </ng-container>

    <ion-footer class="mt-30">
      <ion-button expand="block" color="red-woodside" type="submit" [disabled]="!addressForm.valid || !isValidZip">Add Address</ion-button>
    </ion-footer>

  </form>

</ion-content>