.title
{
    font-weight: bold;
    padding: 4px;
}

.marg-content
{
    padding: 5%;
}

.marg-btn
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
}

.mt-15
{
    margin-top: 15%;
}

.mt-10
{
    margin-top: 10%;
}
