.title
{
    font-weight: bold;
    padding: 4px;
}

.marg-content
{
    padding: 5%;
}

.marg-btn
{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
}

.mt-15
{
    margin-top: 15%;
}

.mt-10
{
    margin-top: 10%;
}

.btn-size
{
    width: 75%;
    height: 40px;
    margin-left: 13%;
    border-radius: 50px !important;
    // height: 100%;
}