.cover-container
{
    position: relative;
    text-align: center;
}

.cover-left-text
{
    color: #ffffff;
    position: absolute;
    bottom: 8px;
    text-align: center;
    left: 18%;
}

.mt-products
{
    margin-top: 10px;
}