<!-- Cabecera inicial con la info del restaurante -->
<ion-header color="red-woodside" *ngIf="firstHeader"> 
  <!-- Nombre del restaurante y boton de información -->
  <ion-toolbar color="red-woodside">
    <ion-buttons slot="primary">
      <ion-button color="warning" (click)="startInformationPage()">
        <ion-icon name="alert-circle-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title size="small">La Perrada De Chalo</ion-title> -->
    <ion-title size="small" class="ion-text-center" >{{ generalInformation.restaurant_name }}</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Cabecera con el listado de categorias de productos disponibles -->
<ion-header color="red-woodside" *ngIf="!firstHeader">
  <ion-toolbar color="red-woodside">    
    <ion-segment scrollable [value]="category">
      <!-- Menu -->
      <ng-container *ngFor="let product of products">
        <ion-segment-button value="{{ product.category }}" (click)="scrollToCategory($event, product.category)">
          <ion-label>{{ product.category }}</ion-label>
        </ion-segment-button>
      </ng-container>
    </ion-segment>
  </ion-toolbar>
</ion-header> 

<!-- ***********CONTENT***********CONTENT***********CONTENT***********CONTENT*********** -->
<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="verifyTopBar($event)">
  <!-- Imagen, tiempo, costo, pedido mínimo -->
  <!-- <div class="cover-container">
    <ion-img [src]="coverPageURL"></ion-img>
    <ion-text class="cover-left-text">
      <h5>Pickup {{ generalInformation.pik_time }} min | Domicile {{ generalInformation.domicile_time }} min</h5>
      <h5>Minimum Card Payment ${{ generalInformation.minimum_with_card }}</h5>
    </ion-text>
  </div> -->

  <!-- Categorias mas significativas iniciales -->
  <div class="cover-container">
    <ion-grid fixed>
      <ion-row>
        <!-- Deayunos -->
        <ion-col size="3" (click)="scrollToCategory($event, 'BREAKFAST')">
          <ion-thumbnail class="ml-thumbnail">
            <img src="assets/img/main/breakfast.jpg" />
          </ion-thumbnail>
          <ion-label class="lbl-size">BREAKFAST</ion-label>
        </ion-col>
        <!-- Pollo -->
        <ion-col size="3" (click)="scrollToCategory($event, 'CHICKEN')">
          <ion-thumbnail class="ml-thumbnail">
            <img src="assets/img/main/chicken.jpg" />
          </ion-thumbnail>
          <ion-label class="lbl-size">CHICKEN</ion-label>
        </ion-col>
        <!-- Comida de mar -->
        <ion-col size="3" (click)="scrollToCategory($event, 'SEAFOOD')">
          <ion-thumbnail class="ml-thumbnail">
            <img src="assets/img/main/seafood.png" />
          </ion-thumbnail>
          <ion-label class="lbl-size">SEAFOOD</ion-label>
        </ion-col>
        <!-- Comida tipica -->
        <ion-col size="3" (click)="scrollToCategory($event, 'TYPICAL DISHES')">
          <ion-thumbnail class="ml-thumbnail">
            <img src="assets/img/main/typical.jpg" />
          </ion-thumbnail>
          <ion-label class="lbl-size">TYPICAL</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Divisor entre el buscador y categorias iniciales -->
  <hr class="horizontal-line">

  <!-- Barra de busqueda  -->
  <ion-toolbar>
    <ion-searchbar name="filterList" placeholder="Search products..." [(ngModel)]="filterList"></ion-searchbar>
  </ion-toolbar>

   <!-- List of Text Items -->
   <div *ngFor="let product of products" class="mt-products">
     <!-- Lista de cada categoria -->
     <ion-list id="{{ product.category }}">
      <ion-item>
        <ion-text color="dark">
          <h3> {{ product.category }} </h3>
        </ion-text>
      </ion-item>

      <ion-item *ngFor="let productInfo of product.products | filter:filterList" (click)="addToCart(productInfo)">
        <!-- Imagen del producto -->
        <ng-container *ngIf="productInfo.image_url">
          <ion-thumbnail slot="end">
            <img src="{{ productInfo.image_url }}">
          </ion-thumbnail>
        </ng-container>

        <ion-grid>          
          <!-- Nombre y descripción del producto -->
          <ion-row>
            <ion-text color="red-woodside">
              <h3>{{ productInfo.name }}</h3>
              <p class="description-color">
                {{ productInfo.description }}
              </p>
            </ion-text>
          </ion-row>

          <!-- Precio del producto -->
          <ion-row>
            <ion-col>
              <ion-text color="red-woodside">
                <ng-container *ngIf="productInfo.price; then onePriceBlock else twoPriceBlock"></ng-container>
                
                <ng-template #onePriceBlock><h3>$ {{ productInfo.price }} </h3></ng-template>
                <ng-template #twoPriceBlock><h3>$ {{ productInfo.initial_price }} - $ {{ productInfo.end_price }}</h3></ng-template>
              </ion-text>
            </ion-col>
          </ion-row> 
        </ion-grid>       
      </ion-item>
     </ion-list>
    </div>

    <!-- Shopping cart button -->
    <ng-container *ngIf="shoppingCartService.sizeOfCart() > 0">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="goToShoppingCartUrl()">
        <ion-fab-button color="warning">
          <ion-label>{{ shoppingCartService.sizeOfCart() }}</ion-label>
          <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>

</ion-content>
