.cover-container
{
    position: relative;
    text-align: center;
}

.cover-left-text
{
    color: #ffffff;
    position: absolute;
    bottom: 8px;
    text-align: center;
    left: 18%;
}

.mt-products
{
    margin-top: 10px;
}

.ml-thumbnail
{
    margin-left: 20%;
    // --size: 80%;
}

hr.horizontal-line
{
    border: 4px solid #ad0101;
    // border-radius: 5px;
    background-color: #ad0101;
    margin-left: 4%;
    margin-right: 4%;
}

.lbl-size
{
    font-size: 80%;
}