<ion-header [translucent]="true" color="dark">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button (click)="goBack()">          
      </ion-back-button>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6044.59145330197!2d-73.884017!3d40.75552!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb454d86176734933!2sLa%20Perrada%20De%20Chalo!5e0!3m2!1ses-419!2sco!4v1594832088809!5m2!1ses-419!2sco" height="180" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="map-width"></iframe>
  </div>
  

  <ion-item>
    <ion-label class="txt-bold txt-x-large">Payment Methods</ion-label>
  </ion-item>
  <ion-item class="no-line">
    <ion-grid>
      <ion-row>
        <ion-icon name="card"></ion-icon>
        <ion-label>Credit Card (Stripe)</ion-label>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img [src]="paymentsImages[0]"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img [src]="paymentsImages[1]"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img [src]="paymentsImages[2]"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img [src]="paymentsImages[3]"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img [src]="paymentsImages[4]"></ion-img>
        </ion-col>
        <ion-col>
          <ion-img [src]="paymentsImages[5]"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-icon name="bicycle-outline"></ion-icon>
        <ion-label>Payment When Delivery Is Made</ion-label>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-img [src]="paymentsImages[6]"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-item class="marg-top">
    <ion-label class="txt-bold txt-x-large">Opening Hours</ion-label>
  </ion-item>
  <!-- List of Text Items -->
  <ion-list>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><ion-label>Wednesday</ion-label></ion-col>
          <ion-col><ion-label>11:00 A.M - 1:00 A.M</ion-label></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><ion-label>Thursday</ion-label></ion-col>
          <ion-col><ion-label>11:00 A.M - 2:00 A.M</ion-label></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><ion-label>Friday</ion-label></ion-col>
          <ion-col><ion-label>11:00 A.M - 4:00 A.M</ion-label></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><ion-label>Saturday</ion-label></ion-col>
          <ion-col><ion-label>11:00 A.M - 4:00 A.M</ion-label></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col><ion-label>Sunday</ion-label></ion-col>
          <ion-col><ion-label>11:00 A.M - 1:00 A.M</ion-label></ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

  <ion-item class="marg-top">
    <ion-label class="txt-bold txt-large txt-center" color="primary">FREE DELIVERY FROM 3PM TO 11 PM</ion-label>    
  </ion-item>

  <ion-item class="marg-top">
    <ion-label class="txt-bold txt-x-large txt-center">Telephone Contacts</ion-label>    
  </ion-item>

  <ion-list>
    <ion-item><ion-label class="txt-center">718-639-6677</ion-label></ion-item>
    <ion-item><ion-label class="txt-center">718-639-1030</ion-label></ion-item>
  </ion-list>

</ion-content>