.title
{
    font-weight: bold;
    padding: 4px;
}

.mt-5
{
    margin-top: 25px;
}

.mt-15
{
    margin-top: 15%;
}

ion-list
{
    margin-top: 10%;
}

.mt-25
{
    margin-top: 25%;
}

.red-woodside
{
    color: #ad0101;
}