<ion-header [translucent]="true" color="red-woodside">
  <ion-toolbar color="red-woodside">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Select Your Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <h2 class="ion-text-center title red-woodside">Where do we take the order?</h2>
  </ion-header>

  <ion-list>
    <ion-item> 
      <ion-label>Pickup</ion-label>
      <ion-toggle color="red-woodside" [(ngModel)]="pickup"></ion-toggle>
    </ion-item>
  </ion-list>

  <!-- Orden a domicilio -->
  <ng-container *ngIf="!pickup">
    <div class="mt-15">
      <h4 class="ion-text-center">--OR--</h4>
    </div>
  
    <ion-list>
      <ng-container *ngFor="let address of user.addresses; index as i">
        <ion-item (click)="verifyAddress(i)"> 
          <ion-label>{{ address.street }}</ion-label>
          <ng-container *ngIf="address.street_optional">
            <ion-label class="description-color">{{ address.street_optional }}</ion-label>
          </ng-container>
          <ion-toggle color="red-woodside" [ngModel]="addresses[i]"></ion-toggle>
        </ion-item>
      </ng-container>
    </ion-list>
  
    <ion-grid class="mt-5">
      <ion-button expand="full" color="warning" (click)="goToaddUserAddress()">
        Add Another Address
        <ion-icon name="add-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-grid>
  </ng-container>

</ion-content>

<!-- Footer -->
<!-- Se deshabilita cuando ==> (pikup = False) y (address = False) -->
<ion-footer>
  <ion-button expand="block" color="red-woodside" [disabled]="!isAddressSelected && !pickup" (click)="procesAddress()">
    Continue
  </ion-button>
</ion-footer>
